@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Fredoka:wght@400;700&family=League+Spartan:wght@200&family=Lobster&family=Montserrat:ital,wght@1,100&family=Open+Sans:wght@300&family=Philosopher:wght@400;700&family=Roboto:ital,wght@0,300;1,300&family=Source+Sans+Pro:wght@300&family=Syne:wght@400;500&display=swap'); 
 *{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Barriecito', cursive;
    

}


.body{
 
        background: url(desert.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      


}
.navbar{
    width: 100%;
    height: 75px;
    background-color: whitesmoke;
    line-height: 75px;
    padding: 0px , 100px;
    position: fixed;
    font-size: larger;
    
}
.jumbotron
{
    text-align: center;
    text-decoration: none;
    text-size-adjust: 40px;
}
.button
{
    float: left;
    padding: 15px 32px;

    
}
.flexcontainor
{
padding: 100px;
margin-bottom: 200px;
height:max-content;
flex-basis: max content;
position: relative;
}
.submit {
    float: left;
}